<div class="container">

    <div ng-if="myInfoCtrl.signUpComplete">
        <div >
          <p>
              Name: <span>{{myInfoCtrl.myInfo.first_name}} {{myInfoCtrl.myInfo.last_name}}</span>
          </p>
          <P>
             Email: <span>{{myInfoCtrl.myInfo.email}}</span>

          </P>
          <P>
             Phone: <span>{{myInfoCtrl.myInfo.phone}}</span>

          </P>
        </div>

    <div class="favorite">
        <h2>Favorite Item</h2>
        <menu-item
                   menu-item="myInfoCtrl.favorite">
        </menu-item>
    </div>
    </div>

    <div ng-if="!myInfoCtrl.signUpComplete">
        <p>
            {{myInfoCtrl.incompleteMessage}} <a ui-sref="public.signup">sign up here</a>
        </p>

    </div>
</div>

</div>
