<div class="container signupForm">

<fieldset>
      <legend><h2>Sign for News Letter</h2></legend>
      <form name='regForm' novalidate>

        <input type="text" name="first_name" placeholder="First Name"
          ng-model="signupCtrl.UserData.first_name"
          required
          ng-minlength="4"
          ng-maxlength="10">

          <span
            ng-if="(regForm.first_name.$error.minlength || regForm.first_name.$error.required) && regForm.first_name.$touched">
            First must be at least 4 characters long
          </span>
          <span ng-if="regForm.first_name.$error.maxlength && regForm.first_name.$touched">
            First must not be longer than 10 characters
          </span>
          <br>

          <input type="text" name="last_name" placeholder="Last Name"
            ng-model="signupCtrl.UserData.last_name"
            required
            ng-minlength="4"
            ng-maxlength="10">
            <span
              ng-if="(regForm.last_name.$error.minlength || regForm.last_name.$error.required) && regForm.last_name.$touched">
              Last Name must be at least 4 characters long
            </span>
            <span ng-if="regForm.last_name.$error.maxlength && regForm.last_name.$touched">
              Last must not be longer than 10 characters
            </span>
            <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="signupCtrl.UserData.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signupCtrl.UserData.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

          <input type="text" name="favorite" placeholder="Favoriate Menu Item"
            ng-model="signupCtrl.UserData.favorite"
            required
            >
            <span
              ng-if="regForm.phone.$touched && !signupCtrl.isShortName()">
              Must be an existing short name from the menu.
            </span>

            <br>

        <button
        ng-disabled="regForm.$invalid"
          ng-click="signupCtrl.submitForm()">Submit</button>

          <div style="margin-top: 10px;">
           Form valid? {{ regForm.$valid }}
         </div>
      </form>
    </fieldset>
</div>
